@page "/"

<PageTitle>Index</PageTitle>

<h1> Hola Maestro</h1>

<p>Le quiero presentar evidencias de la realizacion de los curso indicados por usted para realizar durante nuestra primera semana, 
    ademas de algunos pequeños proyectos que fui realizando a medida que iba aprendiendo, en el enlace de abajo podra ver directamente  las notas aprovadas de los examenes y los indicadores de exp de microsft ya completos.
    mientras que los proyectos forman parte de esta web app.
    Cabe decir que el proyecto de Cronometro no pudo ser completado de forma satisfactoria, prodra ver el intento realizado pero sin embargo no funciona.
</p>

<SurveyPrompt Title="Evidencias de los cursos realizados" />
