<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <center>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/2048px-Visual_Studio_Code_1.35_icon.svg.png" alt="Vs Code Logo" width="50" height="60">
        <a class="navbar-brand" href="">Evidencias y practicas</a>
        </center>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculadora" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Calculadora
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cronometro" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Cronometro
            </NavLink>
        </div>
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
