<div class="alert alert-secondary mt-4" style="background-image:linear-gradient(180deg, rgb(7, 94, 255) 0%, rgb(7, 94, 255) 70%);">
    <span class="text-nowrap">
        <a target="_blank" Style="Color:white; text-Decoration:none" href="https://drive.google.com/drive/folders/1SsaIrbvI2Vapug7Ni0ytYptU_IcdJRCA?usp=sharing"><strong>@Title</strong></a>
    </span>
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
